<header id="header" >
	<nav class="navbar navbar-default navbar-fixed-top ">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header navbar-left">
	      <a class="navbar-brand" href="#">
			<span id="title"trim>Bienvenido a Ember.js</span></a>

	      <button type="button" class="navbar-toggle collapsed navbar-rigth" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
	        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
	        <li><a href="#">Link</a></li>

	        <li class="dropdown">
	          <a href="#" id="dLabel" class="dropdown-toggle" data-target="http://localhost:4200" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Perfil 
	          	<span class="btn-danger badge">4</span>
	          	<span class="caret"></span>
	          </a>
	          <ul class="dropdown-menu" role="menu" aria-labellebdy="dLabel">
	            <li><a href="#">Action</a></li>
	            <li><a href="#">Another action</a></li>
	            <li><a href="#">Something else here</a></li>
	            <li class="divider"></li>
	            <li><a href="#">Separated link</a></li>
	            <li class="divider"></li>
	            <li><a href="#">One more separated link</a></li>
	          </ul>
	        </li>

	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

	
</header><!-- /header -->

<div class="container">
	<section class="col-md-4 well">
		<article class="col-md-12">
			<form class="form-inline " role="search">
				<div class="form-group">
					<div class="input-group input-group-lg">
						<input type="text" class="form-control" placeholder="Código de producto">
						<span class="input-group-btn">
		        			<button class="btn btn-default" type="button">
		        				<i class="glyphicon glyphicon-zoom-in"></i>
		        			</button>
		      			</span>
					</div>
				</div>
				<hr>
				<button type="submit" class="btn btn-primary btn-lg btn-block" disabled="disabled">Ingresar</button>
			</form>
		</article>
		<article class="col-md-12">
		<hr>
			<ul class="list-group">
			  <li class="list-group-item "> Mensaje 043953094 ingresado a las 12:56:55 </li>
			  <li class="list-group-item">Mensaje 043953094 ingresado a las 12:56:55 </li>
			  <li class="list-group-item">Mensaje 043953094 ingresado a las 12:56:55 </li>
			  <li class="list-group-item">Mensaje 043953094 ingresado a las 12:56:55 </li>
			  <li class="list-group-item">Mensaje 043953094 ingresado a las 12:56:55 </li>
			</ul>
		</article>
	</section>
	<section class="col-md-8"> 
		<article>
			<nav >
			  <ul class="pagination pagination-sm">
			    <li class="disabled">
			      <a href="#" aria-label="Previous">
			        <span aria-hidden="true">&laquo;</span>
			      </a>
			    </li>
	    		<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
			    <li><a href="#">2</a></li>
			    <li><a href="#">3</a></li>
			    <li><a href="#">4</a></li>
			    <li><a href="#">5</a></li>
			    <li class="disabled">
			      <a href="#" aria-label="Next">
			        <span aria-hidden="true">&raquo;</span>
			      </a>
			    </li>
			  </ul>
			</nav>

			<table class="table table-hover table-responsive">
				<caption>Lista de productos del Albarán</caption>
				<thead>
					<tr>
						<th>Código</th>
						<th>Nombre</th>
						<th>Unidades</th>
						<th>Unidad de medida</th>
						<th>cantidad</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>81838482</td>
						<td>Lápiz Bic</td>
						<td>12</td>
						<td>Caja</td>
						<td>
							<input type="number" name="" value="1" placeholder="0">
						</td>
					</tr>
					<tr class="success">
						<td>81838482</td>
						<td>Lápiz Bic</td>
						<td>12</td>
						<td>Caja</td>
						<td>
							<input type="number" name="" value="1" placeholder="0">
						</td>
					</tr>
					<tr>
						<td>81838482</td>
						<td>Lápiz Bic</td>
						<td>12</td>
						<td>Caja</td>
						<td>
							<input type="number" name="" value="1" placeholder="0">
						</td>
					</tr>
					<tr>
						<td>81838482</td>
						<td>Lápiz Bic</td>
						<td>12</td>
						<td>Caja</td>
						<td>
							<input type="number" name="" value="1" placeholder="0">
						</td>
					</tr>
					<tr>
						<td>81838482</td>
						<td>Lápiz Bic</td>
						<td>12</td>
						<td>Caja</td>
						<td>
							<input type="number" name="" value="1" placeholder="0">
						</td>
					</tr>
					<tr>
						<td>81838482</td>
						<td>Lápiz Bic</td>
						<td>12</td>
						<td>Caja</td>
						<td>
							<input type="number" name="" value="1" placeholder="0">
						</td>
					</tr>
					<tr>
						<td>81838482</td>
						<td>Lápiz Bic</td>
						<td>12</td>
						<td>Caja</td>
						<td>
							<input type="number" name="" value="1" placeholder="0">
						</td>
					</tr>
				</tbody>
			</table>
			<nav>
			  <ul class="pagination pagination-sm">
			    <li class="disabled">
			      <a href="#" aria-label="Previous">
			        <span aria-hidden="true">&laquo;</span>
			      </a>
			    </li>
	    		<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
			    <li><a href="#">2</a></li>
			    <li><a href="#">3</a></li>
			    <li><a href="#">4</a></li>
			    <li><a href="#">5</a></li>
			    <li class="disabled">
			      <a href="#" aria-label="Next">
			        <span aria-hidden="true">&raquo;</span>
			      </a>
			    </li>
			  </ul>
			</nav>
		</article>
	</section>

	
</div>

<!-- Small modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal</button>

<div class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      ... Hola tu cuenta se cerrará en
      	<h1><strong>10</strong></h1> &nbsp seg.
    </div>
  </div>
</div>
{{outlet}}
